<div class="invoice-manager-container">
    <mat-card>
        <app-invoice-filter [data]="invoices" (filteredDataEmitter)="setFilteredInvoices($event)">

        </app-invoice-filter>

        <app-invoice-list 
        [invoices]="filteredInvoices" 
        (activeInvoiceEmitter)="setActiveInvoice($event)">
        </app-invoice-list>
    </mat-card>
    <mat-card>
        <app-invoice-handler 
        [selectedInvoice]="activeInvoice" 
        [selectedIndex]="currentIndex" 
        (selectedIndexRefresher)="updateSelectedIndex($event)">
            
        </app-invoice-handler>
    </mat-card>
</div>
