
<fieldset>
    <legend>Positions</legend>
    <form (ngSubmit)="onSubmit()" class="position-form">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input type="text" matInput [formControl]="descriptionFormControl">
            <mat-error *ngIf="netValueFormControl.invalid">
                Description value is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Net value</mat-label>
            <input type="number" matInput [formControl]="netValueFormControl">
            <mat-error *ngIf="netValueFormControl.invalid">
                Net value is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>VAT tax (%)</mat-label>
            <input type="number" matInput [formControl]="vatTaxFormControl">
            <mat-error *ngIf="vatTaxFormControl.invalid">
                VAT is required
            </mat-error>
        </mat-form-field>

        <button class="position-submit-button" [disabled]="positionForm.invalid || positionForm.pristine" color="primary" mat-raised-button>
            Add a position
        </button>
    </form>

    <app-edit-positions-table [positions]="positions" (idToDeleteEmitter)="removePosition($event)">

    </app-edit-positions-table>
</fieldset>